@charset "utf-8";
/*html,body*/
html, body {  margin: 0; padding: 0; font-size: 24px; font-family: '標楷體';}   
.font_size20{
    font-size: 20px;
}
#search_block{
    font-size: 24px;
    width: 60%;
    border-radius: 2%;
}
.top_nav{
    box-sizing: border-box;
    display: flex;
    top: 0%;
    width: 100%;
    height: auto;
    background-color:white;
    border-bottom:2px  inset;
}
.top_block{
    font-family: '新細明體';
    display:block;
    height: 8.5vh;
    width: 20%;
    font-size:3.5vw;
    line-height: 8.5vh;
    text-align: center;
    font-weight: bolder;
    border-right:1px  inset;
    color: transparent;
    background:linear-gradient(45deg,cornflowerblue,rgb(254, 210, 210),gray);
    background:-webkit-linear-gradient(45deg,cornflowerblue,rgb(254, 210, 210),gray);
    -webkit-background-clip:text;
    background-clip: text;
}
.border_bot{
    box-sizing: border-box;
    border-bottom: 4px solid black;
}
#btn{
    font-family: '標楷體';
    font-size: 24px;
    border-radius: 10%;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
#btn:hover{
    transition: all .4s linear;
    color:#fff;
    background-color: gray;
}
.search{
    display: block;
    height: 8.5vh;
    width: 40vw;
    line-height: 8.5vh;
    text-align: center;
    border-right: 1px inset;
}

.right_nav{
    width: 40%;
    display: inline-flex;
    font-size: 18px;
}
.button_1{
    width: 20%;
    height: 8.5vh;
    display: block;
    text-align: center;
    line-height: 8.5vh;
    cursor: pointer;
    background-color: transparent;
    transition: all .4s linear;
    font-size: 20px;
    font-weight: bold;
    color:#000;
    text-decoration: none;
}
.button_1:hover{
    background-color: #000;
    color: #fff;
    font-size: 23px;
}
.nav_down{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white ;
    width:auto;
    height: fit-content;
    padding: 2vh;
    margin-top: 5vh;
    border-top: 2px outset;
}
.down_bl{
    margin-right: 5vh;
}
.bl{
    font-size: 2.5vh;
    text-align: center;
    margin: 1vh;
}

.bl:hover{
    cursor: pointer;
    color: rgb(33, 212, 152);
}


.container{
    margin-top: 20px;
    position: relative;
    left: 10vw;
    width: 80vw;
    min-height: 70vh;
    height:fit-content;
}

.cart{
    position: relative;
    left: 10%;
    width: 80%;
    height: fit-content;
    margin: 15px 0;
    font-size: 40px;
    color: rgb(45, 111, 170);
    text-align: center;
    font-weight: bolder;
}

.cart_block_big{
    display: flex;
    width: 100%;
    border: 0.5px  inset;
    height: 50px;
    box-sizing: border-box;
}

.cart_block{
    display: flex;
    width: 100%;
    border: 0.5px  inset;
    height: 100px;
    box-sizing: border-box;
}

.cart_block:hover{
    background-color: rgb(189, 189, 189);
}

.check{
    width: 10%;
    border-right: 0.5px inset;
    box-sizing: border-box;
}

.pro_content{
    width: 50%;
    border-right: 0.5px inset;
    display: flex;
    box-sizing: border-box;
}
.counts{
    width: 10%;
    border-right: 0.5px inset;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.totals{
    width: 10%;
    border-right: 0.5px inset;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single{
    width: 10%;
    border-right: 0.5px inset;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red{
    color: red;
}

.del{
    width: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.del_button{
    background-color: rgb(120, 133, 169);
    font-size:medium;
    width: 40%;
    cursor: pointer;
    border-radius: 10%;
    border: none;
    font-weight: 550;
}

.del_button:hover{
    opacity: 0.5;
}

.del_button:active{
    cursor:auto;
    opacity: 1;
}


.cart_block_small{
    font-weight: bolder;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-sizing: border-box;
}
.cart_block_s{
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.product_img{
    width: 22%;
    height: 98px;
    border:0.5px  inset;
}

.gray_block{
    background-color: rgb(172, 170, 170);
    color: #fff;
}

.pro_title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 102px;
    font-size: 19px;
    padding: 3px;
    font-weight: bolder;
    cursor: pointer;
    box-sizing: border-box;
}

.pro_con{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: fit-content;
    padding: 5px;
}

.checkbox{
    width:20px;
    height: 20px;
}

.cart_icon{
    width: 5vw;
    height: 5vw;
    position: fixed;
    right: 1vw;
    bottom:1vh ;
    box-sizing: border-box;
    background-image:url(../product/cart.png) ;
    background-size: contain;
    cursor: pointer;
}

.all_pro{
    height: 1vw;
    width: 1vw;
    position: fixed;
    right: 1.8vw;
    bottom: calc(1vh + 5vw);
    color: red;
    font-weight: bolder;
}