@charset "utf-8";
/*html,body*/
html, body {  margin: 0; padding: 0; font-size: 24px; font-family: '標楷體';}   
.font_size20{
    font-size: 20px;
}
#search_block{
    font-size: 24px;
    width: 60%;
    border-radius: 2%;
}
.top_nav{
    box-sizing: border-box;
    display: flex;
    top: 0%;
    width: 100%;
    height: auto;
    background-color:white;
    border-bottom:2px  inset;
}
.top_block{
    font-family: '新細明體';
    display:block;
    height: 8.5vh;
    width: 20%;
    font-size:3.5vw;
    line-height: 8.5vh;
    text-align: center;
    font-weight: bolder;
    border-right:1px  inset;
    color: transparent;
    background:linear-gradient(45deg,cornflowerblue,rgb(254, 210, 210),gray);
    background:-webkit-linear-gradient(45deg,cornflowerblue,rgb(254, 210, 210),gray);
    -webkit-background-clip:text;
    background-clip: text;
}
#btn{
    font-family: '標楷體';
    font-size: 24px;
    border-radius: 10%;
    background-color:#fff;
    color: #000;
    cursor: pointer;
}
#btn:hover{
    transition: all .4s linear;
    color:#fff;
    background-color: gray;
}
.search{
    display: block;
    height: 8.5vh;
    width: 40vw;
    line-height: 8.5vh;
    text-align: center;
    border-right: 1px inset;
}

.right_nav{
    width: 40%;
    display: inline-flex;
    font-size: 18px;
}
.button_1{
    box-sizing: border-box;
    width: 20%;
    height: 8.5vh;
    display: block;
    text-align: center;
    line-height: 8.5vh;
    cursor: pointer;
    background-color: transparent;
    transition: all .4s linear;
    font-size: 20px;
    font-weight: bold;
    color:#000;
    text-decoration: none;
}

.border_bot{
    box-sizing: border-box;
    border-bottom: 4px solid black;
}
.button_1:hover{
    background-color: #000;
    color: white;
    font-size: 23px;
}

.back{
    width: 100%;
    height: fit-content;
    background-color:rgba(255, 255, 255, 0.5);
    display: inline-block;
    text-align: center;
}
.member{
    display:inline-block;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 75%;
    background:linear-gradient(45deg,whitesmoke,gray);
    border: 0.1vw black solid ;
    text-align: center;
    border-radius: 5%;
    margin:3vh;
    margin-bottom: 4vh;
}

.border_div80{
    display: block;
    position: relative;
    left: 10%;
    width: 80%;
    height: 1px;                                
    border-bottom: 1px black inset;
    margin-top: 5vw;
}

.border_div80_n{
    display: block;
    position: relative;
    left: 10%;
    width: 80%;
    height: 1px;                                
    border-bottom: 1px black inset;
}

.me_block_ty{
    width: 80%;
    font-size: 2.4vh;
}
.me_block{
    font-size: 2.4vh;
}

.nav_down{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width:auto;
    height: fit-content;
    padding: 2vh;
    margin-top: 5vh;
    border-top: 1px outset;
}
.down_bl{
    margin-right: 5vh;
}
.bl{
    font-size: 2.5vh;
    text-align: center;
    margin: 1vh;
}

.bl:hover{
    cursor: pointer;
    color: rgb(33, 212, 152);
}

.main_content{
    display: flex;
    width: 80vw;
    min-height: 37.5vw;
    box-shadow: 0px 0px 1px 1px rgba(223, 16, 255, 0.05);
    margin: 30px auto;
    box-sizing: border-box;
    border-radius: 100px 100px 100px 100px;
    overflow: hidden;
    background: linear-gradient(to bottom right, rgba(115, 34, 255, .05), rgba(0, 255, 60, .05),rgba(255,255,255,.05));

}
.content_small{
    width: 50vw;
    height:37.5vw;
}

.product_img{
    width: 50vw;
    height: 37.5vw;
}
.content_R{
    width: 30vw;
    height: 37.5vw;
}

.product_pages_title{
    position: relative;
    left: 10%;
    width: 80%;
    height: fit-content;
    margin-top: 20px;
    font-size: 40px;
    color: rgb(159, 140, 196);
    text-align: center;
    font-weight: bolder;
}

.con_title{
    font-size: 27px;
    font-weight: bold;
    width: 30vw;
    height: 2.5vw;
    text-align: center;
    padding: 0.5vw;
    box-sizing: content-box;
}
.content{
    width: 30vw;
    height: 25vw;
    box-sizing: border-box;
}

.con_s{
    width: 30vw;
    height: 22vw;
    padding: 20px;
    white-space:pre-line;
    font-size: 20px;
    border-top: 1px outset;
    box-sizing: border-box;
}

.price{
    line-height: 3vw;
    padding-left: 18vw;
    width: 30vw;
    height:3vw;
    font-size: 22px;
    color: red;
    font-weight: bold;
    font-style:italic;
    border-bottom: 1px inset;
    border-top: 1px outset;
    box-sizing: border-box;
}

.button{
    position: relative;
    left: 2.5vw;
    width: 25vw;
    height: 9vw;
    display: flex;
    align-items: center;
    justify-content:space-around;
    box-sizing: border-box;

}
.add_cart{
    background-color: rgb(134, 134, 236);
    width: 10vw;
    height: 2.5vw;
    border-radius: 2000px;
    border: none;
}

.cart{
    background-color: rgb(227, 48, 168);
    width: 10vw;
    height: 2.5vw;
    border-radius: 2000px;
    border: none;
}

.add_cart:hover,.cart:hover{
    cursor: pointer;
    opacity: 0.75;
}

.cart_icon{
    width: 5vw;
    height: 5vw;
    position: fixed;
    right: 1vw;
    bottom:1vh ;
    box-sizing: border-box;
    background-image:url(../product/cart.png) ;
    background-size: contain;
    cursor: pointer;
}



.pro_img{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    position: fixed;
    display: none;
}
