@charset "utf-8";
/*html,body*/
html, body {  margin: 0; padding: 0; font-size: 24px; font-family: '標楷體'; }   
.font_size20{
    font-size: 20px;
}
#search_block{
    font-size: 24px;
    width: 60%;
    border-radius: 2%;
}
.top_nav{
    box-sizing: border-box;
    display: flex;
    top: 0%;
    width: 100%;
    height: auto;
    background-color:white;
    border-bottom:2px  inset;
}
.top_block{
    font-family: '新細明體';
    display:block;
    height: 8.5vh;
    width: 20%;
    font-size:8.5vh;
    line-height: 8.5vh;
    text-align: center;
    font-weight: bolder;
    border-right:1px  inset;
    color: transparent;
    background:linear-gradient(45deg,cornflowerblue,rgb(254, 210, 210),gray);
    background:-webkit-linear-gradient(45deg,cornflowerblue,rgb(254, 210, 210),gray);
    -webkit-background-clip:text;
    background-clip: text;
}
#btn{
    font-family: '標楷體';
    font-size: 24px;
    border-radius: 10%;
    background-color:#fff;
    color: #000;
    cursor: pointer;
}
#btn:hover{
    transition: all .4s linear;
    color:#fff;
    background-color: gray;
}
.search{
    display: block;
    height: 8.5vh;
    width: 40vw;
    line-height: 8.5vh;
    text-align: center;
    border-right: 1px inset;
}

.right_nav{
    width: 40%;
    display: inline-flex;
    font-size: 18px;
}
.button_1{
    box-sizing: border-box;
    width: 20%;
    height: 8.5vh;
    display: block;
    text-align: center;
    line-height: 8.5vh;
    cursor: pointer;
    background-color: transparent;
    transition: all .4s linear;
    font-size: 20px;
    font-weight: bold;
    color:#000;
    text-decoration: none;
}

.border_bot{
    box-sizing: border-box;
    border-bottom: 4px solid black;
}
.button_1:hover{
    background-color: #000;
    color: white;
    font-size: 23px;
}

.back{
    width: 100%;
    height: fit-content;
    background-color:rgba(255, 255, 255, 0.5);
    display: inline-block;
    text-align: center;
}


.border_div80{
    display: block;
    position: relative;
    left: 10%;
    width: 80%;
    height: 1px;                                
    border-bottom: 1px black inset;
    margin-top: 5vw;
}

.border_div80_n{
    display: block;
    position: relative;
    left: 10%;
    width: 80%;
    height: 1px;                                
    border-bottom: 1px black inset;
}

.nav_down{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width:auto;
    height: fit-content;
    padding: 2vh;
    margin-top: 5vh;
    border-top: 1px outset;
}
.down_bl{
    margin-right: 5vh;
}
.bl{
    font-size: 2.5vh;
    text-align: center;
    margin: 1vh;
}

.bl:hover{
    cursor: pointer;
    color: rgb(33, 212, 152);
}

.big_page{
    display: flex;
    justify-content: center;
}

.product_page{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    margin-top: 5vh;
    width: 81.5vw;
    height:auto;
    border-left: 1px black solid;
    border-right: 1px black solid;
    box-sizing: content-box;
}

.product_img{
    width:100%;
    height:10.5vw;
    box-sizing: content-box;
    padding: 0%;
    display: block;
}


.pro_div{
    display: block;
    padding: 0%;
    text-align: center;
    font-size: medium;
    margin-left: 2.922vw;
    margin-right: 2.922vw;
    margin-top: 1.50vw;
    margin-bottom: 1.50vw;
    width:14vw ;
    height: auto;
    border: 1px black solid;
    border-radius: 5% 5% 0% 0%;
    overflow: hidden;
    transition: all linear .3s;
    box-sizing: content-box;
}


.price{
    color: red;
    font-weight: bolder;
    font-size: medium;
    padding: 1.5px;
    box-sizing: border-box;
}

.pro_title{
    font-weight: bold;
    font-size: larger;
    padding: 1.5px;
    box-sizing: border-box;
    margin: 3px;
}

.pro_con{
    font-size: small;
    padding: 1.5px;
    box-sizing: border-box;
}

.pro_div:hover{
    background-color: rgb(231, 231, 204);
    cursor: pointer;
    border-style:ridge;
    box-shadow:0px 0px 3px 3px rgba(0, 0, 0, 0.5);
    transition: all linear .2s;
}

.none{
    text-align: center;
    width: 100%;
    font-size:xx-large;
    padding: 10px;
    color:blue;
    font-weight: bolder;
    display: none;
}

.none_p{
    text-align: center;
    width: 100%;
    margin: 0%;
    padding: 10px;
    color:blue;
    display: none;
}

.result{
    text-align: center;
    font-size:xx-large;
    font-weight: bolder;
    width: 100%;
    margin: 0%;
    color:rgb(10, 9, 35);
    display: none;
    border-top: 1px black solid;
    box-sizing: border-box;
    padding-top: 10px;
}

.cart{
    padding: 2px;
    margin: 5px;
    background-color: orange;
    color: #fff;
    border-radius: 10%;
    border-color: orange;
    cursor: pointer;
}